* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    background-color: #e0e0e0;
    height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

@media (max-width: 820px) {
    html {
        font-size: 93.8%;
    }
}

@media (max-width: 530px) {
    html {
        font-size: 87.5%;
    }
}

@media (max-width: 455px) {
    html {
        font-size: 81.3%;
    }
}

@media (max-width: 315px) {
    html {
        font-size: 75%;
    }
}

@media (max-width: 290px) {
    html {
        font-size: 68.8%;
    }
}

@media (max-width: 250px) {
    html {
        font-size: 56.3%;
    }
}