.footer {
    font-family: monospace;
    font-weight: bold;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    padding-bottom: 30px;
    padding-top: 10px;
    background-color: #e0e0e0;
    box-shadow: -18px -18px 36px #bebebe, 18px 18px 36px #ffffff;
}

.h2 {
    font-size: 1.3rem;
}