.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    height: 7vh;
    background-color: #e0e0e0;
    box-shadow: 18px 18px 36px #bebebe, -18px -18px 36px #ffffff;
}

.header2 {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
}

.title {
    margin-left: 5%;
}

li {
    font-weight: bold;
    padding: 0px 10px;
    list-style: none;
    font-size: 15px;
}